@import "tailwindcss";

:root {
  --dark: #202020;
  --light: #D6D6D6;
  --yellow-light: #FFEE32;
  --yellow-dark: #FFD100;
  --gray-dark: #333533; 
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-yellow-dark: var(--yellow-dark);
  --color-yellow-light: var(--yellow-light);
  --color-gray-dark: var(--gray-dark);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--gray-dark);
  color: var(--light);
  font-family: var(--font-sans);
}

button, a {
  cursor: pointer;
}



