@import "tailwindcss";

:root {
  --dark: #202020;
  --light: #d6d6d6;
  --yellow-light: #ffee32;
  --yellow-dark: #ffd100;
  --gray-dark: #333533;
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-yellow-dark: var(--yellow-dark);
  --color-yellow-light: var(--yellow-light);
  --color-gray-dark: var(--gray-dark);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  /* Transiciones */
  --transition-duration-slow: 1000ms;
  --transition-duration-medium: 800ms;
  --transition-duration-normal: 300ms;

  /* Z-index */
  --z-index-background: -10;
  --z-index-base: 0;
  --z-index-content: 10;
  --z-index-overlay: 20;
  --z-index-navbar: 50;
  --z-index-modal: 60;
}

body {
  background: var(--gray-dark);
  color: var(--light);
  font-family: var(--font-sans);
}

button,
a {
  @apply cursor-pointer active:scale-97 transition-transform;
}

/* oculta la barra de desplazamiento */
::-webkit-scrollbar {
  display: none;
}

/* modifica el boton de borrar por defecto de la barra de busqueda */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background: url("/icons/circle-x.svg") no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}
