@import "tailwindcss";

:root {
  --dark: #202020;
  --light: #D6D6D6;
  --yellow-light: #FFEE32;
  --yellow-dark: #FFD100;
  --gray-dark: #333533;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: var(--font-sans);
}

button, a {
  cursor: pointer;
}

